.DA_AddCategory{
    max-width: 100%;
    height: 4rem;
    /* padding:2px 20px ; */
    background-color: #BCE1BF;
   
    
    }
    .DA_title{
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-right: 40px;
        justify-content: space-between;
    }
    .DA_title,p{
        /* padding-right: 100px; */
        color:black;
        font-family:Arial, Helvetica, sans-serif;
        font-size:xx-large;
        margin-bottom: 1.5rem;
        
    }
    .DA_ISB{
     margin-left: 22.5rem;
    }
    .DA_AddCategory input,select {
        width: 9em;
        margin-right: 2.5rem;
        
    }
    .DA_AddCategory button{
        width: 5em;
        margin-right: 20px;
        background-color: #2a582b; 
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 15px 50px 30px; 
        font-size: 16px;
        /* cursor: pointer;  */
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .DA_AddCategory button .DA_button_ca{
        width: 5em;
        margin-right: 20px;
        
        background-color: #2a582b; 
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 15px 50px 30px; 
        font-size: 16px;
        /* cursor: pointer;  */
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }